:root {
  --pc: #007DFF;
  --bg: #007DFF;
  --h2-color1: #007DFF;
  --h2-color2: #ffffff;
  --text-1: #ffffff;
  --text-2: #007DFF;
  --btn-color-1: #FFFFFF;
  --btn-text-color-1: #007DFF;
  --btn-color-2: #007DFF;
  --btn-text-color-2: #FFFFFF;
}

h2{
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins/Poppins-Regular.ttf");
}

* {
  text-align: center;
  text-decoration: none !important;
  list-style: none;
  list-style-type: none;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.btn-join{
  padding: 0 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.btn-join i{
  font-size: 3rem;
}
.btn-join p{
  font-size: 1.5rem;
  font-weight: 900;
}
.btn-join a{
  display: flex;
  height: 5rem;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 85%;
  padding: 0 2.5%;
  transition: .5s;
}
.btn-join a:hover{
  transform: scale(1.2);
}

.btn-join.b1 a{
  background-color: var(--btn-color-1);
}
.btn-join.b1 p, i{
  color: var(--btn-text-color-1);
}
.btn-join.b1 i{
  color: var(--btn-color-2);
}
.btn-join.b2 a{
  background-color: var(--btn-color-2);
}
.btn-join.b2 p, i{
  color: var(--btn-text-color-2);
}
.btn-join.b2 .join{
  color: var(--text-2);
} 

.h2p{
  color: var(--h2-color1);
}
.h2s{
  color: var(--h2-color2);
}

body{
  background-color: var(--bg);
}

h1{
  color: var(--text-1);
  font-size: 3rem;
}

header img{
  width: 20%;
  min-width: 300px;
}
#main .content{
  position: relative;
  display: flex;
}

#main .join{
  width: 80%;
}

#main{
  padding: 2% 5% 5%;
  height: 80vh;

}
#main .content{
  display: flex;
  align-items: center;
  position: relative;
  bottom: 150px;
  gap: 150px;
  bottom: 20vh;
}
#main .content h2{
  color: var(--text-1);
}
#main .content .product{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
#main .content .product img{
  z-index: 5;
}
#main .count{
  font-size: 3rem;
}
#main .content .text{
  position: relative;
  right: 60px;
  bottom: 300px;
  z-index: 3;
}
#main .card{
  background-color: var(--btn-text-color-2);
  color: var(--text-2);
  padding: 30px 20px 120px;
  border-radius: 0px 20px 0px;
}
#main .card h3{
  margin-bottom: 15px;
  font-size: 1.8rem;
}
#main .card h4{
  font-size: 1.5rem;
  margin-bottom: 15px;
}
#main .card p{
  font-size: 0.8rem;
  font-weight: 700;
  
}


#howWorks{
  background-image: url("imgs/bg-image.png");
  background-size: 100% 100%;
  color: var(--text-2);
  padding: 10% 5% 10%;
}
#howWorks .video{
  width: 130%;
}
#howWorks .video video{
  width: 100%;
}
#howWorks .content{
  display: flex;
  gap: 5%;
}
#howWorks .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#howWorks p{
  font-size: 1.5rem;
}
#depoiments .content{
  display: flex;
  padding: 0 5% 5%;
  gap: 2.5%;
}
#depoiments .text{
  color: var(--text-1);
  font-size: 2.3rem;
}

#depoiments .video{
  width: 130%;
}
#depoiments video{
  width: 100%;
}

.mobile{
  position: relative;
  overflow: hidden;
}
.mobile .premios{
  width: 100%;
  position: absolute;
}
.mobile .premios img{
  width: 100%;
  position: relative;
  bottom: 10px;
  border-radius: 25px;
}
.mobile .celular{
  position: relative;
  z-index: 10;
}

#depoiments .btn-join a{
  width: 65%;
}

@media (max-width: 1100px) {
  .content{
    flex-direction: column;
  }
}

